.flex-container {
  display: flex;
  flex-direction: row;
  background-color: aqua;
  color: black;
  gap: 20px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.flex-item {
  /* flex-grow: 1; */
  width: 100px;
  height: 100px;
  flex-shrink: 1;
  background-color: antiquewhite;
  padding: 20px;
  overflow: hidden;
}

.flex-item2 {
  flex-grow: 2;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
}
